//size
$xs-size: 0.25rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//colors
$dark-grey: #333;
$med_blue: rgba(49, 111, 182, 0.883);
$background-primary-color: rgb(57, 129, 170);

//window
$desktop-breakpoint: 862px;
$desktop-breakpoint-s: 600px;

//font
$font-size-large: 1.2rem;
$font-size-small: 0.8rem;